body {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  display: block;
  text-align: center;
}

p {
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  margin-left: 80px;
  font-size: 16px;
}

a {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: steelblue;
  text-decoration: none;
  transition: all 0.1s linear;
}

a:hover {
  font-size: 30px;
  color: mediumvioletred;
  text-decoration: underline;
}

img.header {
  display: block;
  margin: 0 auto;
  width: 100%;
}

a.home-link {
  display: block;
  text-align: center;
}

.home-body p {
  margin: inherit;
}
