<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body background="imgs/nuvem.png">
    <h1>
      <img src="imgs/caveira.gif">
      {{ page.title }}
      <img src="imgs/caveira.gif">
    </h1>

    <h3>Projetos</h3>
    {% for post in site.posts %}
      <h4>
        <img src="imgs/coracao.gif">
        <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
        <p>{{ post.description }}</p>
      </h4>
    {% endfor%}
    {{ content }}
  </body>
</html>
