<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body background="imgs/nuvem.png">
    <h1>
      <img src="imgs/caveira.gif">
      {{ page.title }}
      <img src="imgs/caveira.gif">
    </h1>

    <h3>Projetos</h3>
    {% for post in site.posts %}
      <h4>
        <img src="imgs/coracao.gif">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.description }}</p>
      </h4>
    {% endfor%}

    <h3>Links</h3>
    <h4>
      <img src="imgs/coracao.gif">
      <a href="https://www.w3schools.com/html/" target="_blank">HTML</a>
      <p>Site com material didático sobre HTML. Vários truques e tutoriais. Muito bom para quem está começando.</p>
    </h4>

    <h4>
      <img src="imgs/coracao.gif">
      <a href="https://www.w3schools.com/css/" target="_blank">CSS</a>
      <p>CSS é a maneira inteligente para formatar o conteúdo de um site. Vamos dar uma olhada nisso já já. Também vai ser muito legal.</p>
    </h4>

  </body>
</html>
